<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        padding: 20px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: coral;
    }
</style>


<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
        <a href="/update"> Update A Users</a>
        <link rel="stylesheet" href="/css/styles.css">
    </div>
    <div class="table_contain">
        <div class="title"> List Users</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% for (let i=0; i < listUsers.length; i++) { %>
                <tr>
                    <td>
                        <%= listUsers[i].id %>
                    </td>
                    <td>
                        <%= listUsers[i].email %>
                    </td>
                    <td>
                        <%= listUsers[i].name %>
                    </td>
                    <td>
                        <%= listUsers[i].city %>
                    </td>
                    <td>
                        <a href="/update/<%=listUsers[i].id%>">Edit</a>
                        <a>Delete</a>
                    </td>
                </tr>
                <% } %>
        </table>
        <link rel="stylesheet" href="../public/css/styles.css">
    </div>
    </div>


</body>

</html>